<h1>Sign in</h1>
<p>Click on the link below to sign in to your mochi account</p>

{{> button label="Sign in" href=href }}

<p>
	<a href="{{href}}" target="_blank" >{{ href }}</a>
</p>

<p>The link is valid for <span class="bold">30 minutes</span> and can only be used once</p>