<h1>Verify Email</h1>
<p>Click on the link below to verify your {{project}} account.</p>

{{> button label="Verify Email" href=href }}

<p>
	<a href="{{href}}" target="_blank" >{{ href }}</a>
</p>

<p>The link is valid for <span class="bold">30 minutes</span> and can only be used once</p>