@font-face {
    font-family: 'Prompt';
    src: url('/fonts/prompt-blackitalic-webfont.woff2') format('woff2'),
         url('/fonts/prompt-blackitalic-webfont.woff') format('woff');
    font-weight: 900;
    font-style: italic;

}

@font-face {
    font-family: 'Prompt';
    src: url('/fonts/prompt-regular-webfont.woff2') format('woff2'),
         url('/fonts/prompt-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Prompt';
    src: url('/fonts/prompt-extrabold-webfont.woff2') format('woff2'),
         url('/fonts/prompt-extrabold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;

}

:root {
  --font-headline: 'Prompt', sans-serif;
  --font-copy: 'Prompt', sans-serif;
  --brand-color: #2d2b4f;
  --brand-color--dark: #23213e;
  --brand-color--light: #46436a;

  --page-padding-left: 8vw;
  --page-padding-right: 8vw;
}

@media screen and (min-width: 500px) {
  :root {
    --page-padding-left: 13vw;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-headline);
  height: 100%;
}

#__next {
  height: 100%;
}

body {
  font-weight: 400;
  background: var(--brand-color);
  color: #fff;
}


h1, h2, h3 {
  font-weight: 800;
  letter-spacing: 1px;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

.vulpo-auth {
  color: #000;
}

.vulpo-auth--dark {
 color:  #fff; 
}

.vulpo-auth-link-button button {
  background: var(--brand-color);
  border-color: #111;
  color:  #fff;
  font-weight: 600;
}

.vulpo-auth-card {
  max-inline-size: 84vw;
}

pre {
  overflow: auto;
  font-family: monospace;
  padding: 1rem;
  max-height: 95vh;
}

summary {
  cursor: pointer;
}

dd {
  margin-bottom: 1rem;
  max-width: 50ch;
}

.footer {
  background: var(--brand-color);
  height: 10vh;
  margin-top: 25vw;

  display: flex;
  justify-content: center;
  padding: 2rem;
}

.footer a {
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

pre {
  background: #272822;
}

pre[class*="language-"] {
  margin-top: 0;
  margin-bottom: 0;
}

.demo-wrapper {
  background: #fff;
  color: #000;
  padding: 2rem;
  min-height: 500px;
  border-radius: 2rem;
}

.demo-wrapper pre {
  background: #fff;
}

.outlined {
  -webkit-text-stroke: 1px #fff;
  color: var(--brand-color);
}
