
.content {
	padding-left: 8.6vw;
	padding-right: 4.3vw;
}

.section {
	margin-bottom: max(8vw, 3rem);
}

.header {
	margin-bottom: clamp(1rem, 10vw, 8rem);
	padding-left: 8.6vw;
	padding-right: 4.3vw;
}

.header-nav {
	display: flex;
	justify-content: flex-end;
	padding-top: 1vw;
	padding-bottom: 2vw;
}

.header-bottom {
	display: flex;
	flex-direction: column;
}

.name {
	font-weight: 900;
	font-style: italic;
	flex-shrink:  0;
}

.header-info {
	max-width: 50ch;
	margin-bottom: 0;
}

@media screen and (min-width:  650px) {
	.header-bottom {
		justify-content: space-between;
		flex-direction: row;
		column-gap: 3rem;
	}
}

.hero {
	margin-bottom: max(8vw,8rem);
}

.hero-title {
	max-width: 19ch;
	font-size: 4rem;
	font-size: max(2rem,4vw);
	margin-top: 2rem;
	margin-bottom: 3rem;
	font-weight: 900;
	line-height: 1;
}

.demo-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.demo-buttons {
	display: flex;
	column-gap: 1rem;
}

.demo-button {
	padding: 0.25rem 0.75rem;
	background: #000;
	border-color: #111;
	color:  #fff;
	font-weight: 600;
	border-radius: 0.25rem;
	outline: none;
}

.demo-button--active {
	background-color: #ff8c00;
	border-color: #ffa232;
}

.get-started {
	background-color: #ff8c00;
	border-color: #ffa232;
	text-decoration: none;
}

.get-started:hover {
	border-color: #000;
}

.ui-example {
	padding: 2rem;	
}

.set-up {

}

.set-up section {
	margin-bottom: max(5vw, 2rem);
}
