
.section {
	margin-bottom: max(8vw, 3rem);
	padding-left: var(--page-padding-left);
	padding-right: var(--page-padding-right);
}

.header {
	margin-bottom: clamp(1rem, 10vw, 8rem);
}

.header-bottom {
	display: flex;
	flex-direction: column;
	margin-left: var(--page-padding-left);
	margin-right: var(--page-padding-right);
}

.name {
	font-weight: 900;
	font-style: italic;
	flex-shrink:  0;
}

.header-info {
	max-width: 50ch;
	margin-bottom: 0;
}

@media screen and (min-width: 650px) {
	.header-bottom {
		justify-content: space-between;
		flex-direction: row;
		column-gap: 3rem;
	}
}

.hero {
	margin-bottom: max(8vw,8rem);
}

.hero-title {
	max-width: 19ch;
	font-size: 4rem;
	font-size: max(2.5rem, 6vw);
	margin-top: 2rem;
	margin-bottom: max(3rem, 4vw);
	font-weight: 800;
	line-height: 1;
	display: flex;
	flex-direction: column;
}

.hero-title small {
	font-size: 1.5rem;
	font-size: max(1.4rem, 3.5vw);
	font-weight: 400;
}

.outlined {
	-webkit-text-stroke: 1px #fff;
	color: var(--brand-color);
}

@media screen and (max-width: 569px) {
	.demo-section {
		padding-left: 0;
		padding-right: 0;
	}
}

.demo {
	display: flex;
	margin-bottom: max(2rem, 3vw);
}


.demo-code {
	flex-grow: 2;
	display: none;
}


@media screen and (min-width: 1440px) {
	.demo {
		box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	}

	.demo-code {
		display: block;
	}
}


.get-started-wrapper {
	display: flex;
	justify-content: center;
}

.get-started {
	color: #fff;
	padding: 0.25em 0.75em;
	font-size: max(1.25rem, 1.5vw);
	display: inline-block;
	border-radius: 0.5rem;
	text-decoration: underline;
	text-decoration-color: rgb(173, 75, 142);
	text-decoration-thickness: 3px;
}

.get-started:hover {
	background: var(--brand-color--light);
}

.ui-example-wrapper {
	flex-grow: 1;
	width: 100%;
	min-height: 80vh;
}

@media screen and (min-width: 1440px) {
	.ui-example-wrapper {
		max-width: 500px;
	}
}

.example-content {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}