
html {
  box-sizing: border-box;
}

:root {
  color-scheme: dark;

  --brand: #2D2B4F;
  --brand--dark: #222043;

  --color-background: var(--brand);
  --color-background--dark: var(--brand--dark);
  --color-foreground: #fff;
  --color-error: var(--red-7);

  --text-color: #fff;
  --border: 1px solid #000;

  --input-bg: rgba(0,0,0,0.3);
  --input-border: 1px solid #000;
  --input-color: var(--color-foreground);

  --surface: var(--brand);
  --surface-2: var(--color-background--dark);

  --button-color: var(--color-foreground);
  --button-bg--hover: #292f39;
}


*, *:before, *:after {
  box-sizing: inherit;
  margin-top: 0;
}

html {
  block-size: 100%;
  accent-color: var(--brand);

  --font-copy: system-ui, sans-serif;;  
}

body {
  font-family: var(--font-copy);
  background: var(--color-background);
  color: var(--text-color);
}

.text-right {
  text-align: right;
}