.vulpo-auth {
	--baseline: var(--vulpo-auth-baseline, 8px);
	--baseline-2: calc(var(--baseline) * 2);
	--baseline-half: calc(var(--baseline) / 2);
	--baseline-4: calc(var(--baseline) * 4);
	--error: var(--vulpo-auth-error, #ff5555);
	--card-background: var(--vulpo-auth-card-background, #fff);
	--shadow: 0 13px 34px rgba(0,0,0,0.25), 0 8px 8px rgba(0,0,0,0.21);
	--shadow-2: 0 3px 5px rgba(0,0,0,0.16), 0 3px 5px rgba(0,0,0,0.23);
	--border-color: var(--vulpo-auth-border-color, #e9e9e9);
	--copy-color: #000;
}

.vulpo-auth--dark {
	color: #fff;
	--card-background: #282a36;
	--vulpo-auth-input-color-placeholder: #fff;
	--border-color: #000;
	--copy-color: #fff;
}

.vulpo-auth--dark a {
	color: #fff;
}

.vulpo-auth-box-shadow {
	--vulpo-auth-shadow--default: var(--shadow);
	box-shadow: var(--vulpo-auth-shadow, var(--vulpo-auth-shadow--default));
}


.vulpo-auth-label {
	margin-block-start: -2px;
	margin-block-end: calc(var(--baseline) * 0.25);
	display: inline-block;
}

.vulpo-auth-error {
	text-align: center;
	color: var(--error);
	margin-block-end: 0;	
}

.vulpo-auth-subtitle {
	margin-block-end: 0;
}


/* CARD */
.vulpo-auth-card {
	background: var(--card-background);
	inline-size: 25rem;
	max-inline-size: 84vw;
	border-radius: var(--baseline);
	padding: calc(var(--baseline) * 3);
	display: flex;
	flex-direction: column;
	transition: height 0.50s ease 0.2s;
	--loading-size: calc(var(--baseline) * 5);
	--shadow-2: var(--shadow);
}

.vulpo-auth-card--center {
	justify-content: center;
	align-items: center;
	height: calc(var(--baseline) * 26);
}

.vulpo-card-header {
	margin-block-end: calc(var(--baseline) * 2.375);
}

.vulpo-auth-card-title {
	margin-block-end: 0;
}

.vulpo-auth-title {
	margin-block-end: calc(var(--baseline) * 0.625);
}

.vulpo-auth-card-nav {
	display: flex;
	align-items: center;
	margin-block-end: calc(var(--baseline) * 1.5);
	margin-block-start: calc(var(--baseline) * -0.25);
}

.vulpo-auth-card-nav--spaced {
	justify-content: space-between;
}

.vulpo-auth-card-nav--spaced section {
	display: flex;
}

.vulpo-auth-card-nav .vulpo-auth-icon-button {
	margin-inline-end: var(--baseline)!important;
}
.vulpo-auth-card-nav label {
	margin: 0;
}


/* HEADER */
.vulpo-auth-header {
	.margin-block-end: calc(var(--baseline) * 4.125);	
}

.vulpo-auth-header-title {
	line-height: 1;
	margin-block-start: calc(var(--baseline) * -0.375);
	margin-block-end: calc(var(--baseline) * 1.75);	
}

.vulpo-auth-header-info {
	margin-block-end: 0;
}


/* LAYOUT */
.vulpo-auth-container {
	display: flex;
	justify-content: center;
	align-items: center;
	inline-size: 100%;
	block-size: 100%;
}

.vulpo-auth-section {
	margin-block-end: calc(var(--baseline) * 2);
	display: flex;
	flex-direction: column;
}

.vulpo-auth-footer {
	text-align: center;	
}

.vulpo-auth-divider {
	border: 0;
	height: 1px;
	width: 100%;
	margin-block-start: var(--baseline);
	margin-block-end: calc(var(--baseline) * 1.625);
	background: var(--border-color);
}

.vulpo-auth-loading-wrapper {
	display: flex;
	justify-content: center;
}


/* PASSWORD */
.vulpo-auth-password-section {
	margin-block-end: calc(var(--baseline) * 2);
	display: flex;
	flex-direction: column;
}

.vulpo-auth-password-password-section {
	margin-block-end: calc(var(--baseline) * 2.5);
	display: flex;
	flex-direction: column;
}

.vulpo-auth-password-password-section input {
	margin-block-end: calc(var(--baseline) / 2);
}

.vulpo-auth-password-forgot-password {
	margin-inline-start: auto;
}

.vulpo-auth-password-error {
	text-align: center;
	color: var(--error);
	margin-block-end: calc(var(--baseline) * 1.125);	
}

.vulpo-auth-password-form {
	margin-block-start: calc(var(--baseline) * -0.625);	
}



/* FORM */
.vulpo-auth-form-section {
	margin-block-end: calc(var(--baseline) * 2);
	display: flex;
	flex-direction: column;	
}


.vulpo-auth-input {
	--default-border: 1px solid rgba(34,36,38,.15);
	margin: 0;
	max-inline-size: 100%;
	inline-size: 100%;
	flex: 1 0 auto;
	outline: none;
	-webkit-tap-highlight-color: var(--vulpo-auth-tap-highlight-color, rgba(255,255,255,0));
	text-align: left;
	line-height: 1.21428571em;
	padding-inline: 0.62em; 
	padding-block: .38em;
	block-size: calc(var(--baseline) * 4);
	background: var(--vulpo-auth-input-bg, none);
	border: var(--vulpo-auth-input-border, var(--default-border));
	color: var(--vulpo-auth-input-color, rgba(0,0,0,.87));
	border-radius: var(--vulpo-auth-input-border-radius, calc(var(--baseline) * 0.5));
	-webkit-transition: box-shadow .1s ease,border-color .1s ease;
	transition: box-shadow .1s ease, border-color .1s ease;
	box-shadow: none;
	font-size: inherit;
	box-sizing: border-box;
	border-color: var(--border-color);
	color: var(--copy-color);
}

.vulpo-auth-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: var(--vulpo-auth-input-color-placeholder, var(--copy-color));
	opacity: 1; /* Firefox */
}

.vulpo-auth-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--vulpo-auth-input-color-placeholder, var(--copy-color));
}

.vulpo-auth-input::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--vulpo-auth-input-color-placeholder, var(--copy-color));
}

.vulpo-auth-input:disabled {
	opacity: var(--vulpo-auth-input-disabled-opacity, 0.8);
	background: var(--ivulpo-auth-nput-disabled-background, rgba(100,100,100, 0.1));
}

.vulpo-auth-password-input {
	position: relative;
	display: flex;
	align-items: center;
}

.vulpo-auth-password-input-button {
	border: none;
	outline: none;
	position: absolute;
	right: 0.5rem;
	inset-inline-end: var(--baseline);
	z-index: 5;
	background: var(--input-bg, none);
}

.vulpo-auth-input-label {
	margin-block-end: 0.25em;
	display: inline-block;
}

.vulpo-auth-input-section {
	margin-block-end: calc(var(--baseline) * 2);
}

/* PASSWORD RESET */
.vulpo-auth-password-reset-check .vulpo-card-header {
	margin-block-end: calc(var(--baseline) * 2.75);
}

.vulpo-auth-password-reset-check .vulpo-auth-card-title {
	line-height: 1;
	margin-block-start: calc(var(--baseline) * -0.375);
}

.vulpo-auth-password-reset-section {
	margin-block-end: calc(var(--baseline) * 2);
	display: flex;
	flex-direction: column;	
}

.vulpo-auth-password-reset-set-password .vulpo-card-header {
	margin-block-end: calc(var(--baseline) * 2.75);
}

.vulpo-auth-password-reset-set-password .vulpo-auth-card-title {
	line-height: 1;
	margin-block-start: calc(var(--baseline) * -0.375);
}

.vulpo-auth-password-reset-set-password-overview {
	margin-block-start: var(--baseline);
	text-align: center;
	color: currentColor;
}

.vulpo-auth-password-reset-set-password-loading {
	display: flex;
	justify-content: center;
}

.vulpo-auth-password-reset-set-password-loading div {
	align-items: center;
}


/* PASSWORDLESS */

.vulpo-auth-passwordless-check .vulpo-card-header {
	margin-block-end: calc(var(--baseline) * 2.75);
}

.vulpo-auth-passwordless-check .vulpo-auth-card-title {
	line-height: 1;
	margin-block-start: calc(var(--baseline) * -0.375);
}

.vulpo-auth-passwordless-confirm-signin {
	min-height: 100px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.vulpo-auth-passwordless-confirm .vulpo-auth-card-title {
	line-height: 1;
	margin-block-start: calc(var(--baseline) * -0.375);
}

.vulpo-auth-passwordless-confirm-loading {
	display: flex;
	justify-content: center;
}

.vulpo-auth-passwordless-confirm-loading div {
	text-align: center;
}

.vulpo-auth-passwordless-confirm-overview {
	margin-block-start: var(--baseline);
	text-align: center;
	color: currentColor;
}


/* USER */
.vulpo-auth-user-set-password .vulpo-card-header {
	margin-block-end: calc(var(--baseline) * 2.75);
}

.vulpo-auth-user-set-password .vulpo-auth-card-title {
	line-height: 1;
	margin-block-start: calc(var(--baseline) * -0.375);
}

.vulpo-auth-user-set-password-overview {
	margin-block-start: var(--baseline);
	text-align: center;
	color: currentColor;
}



.vulpo-auth-verify-email .vulpo-auth-card-title {
	line-height: 1;
	margin-block-start: calc(var(--baseline) * -0.375);
}

.vulpo-auth-verify-email-text {
	margin-block-start: calc(var(--baseline) * 2);
	margin-block-end: 0;
	text-align: center;
}

/* Overview */

.vulpo-auth-overview-buttons {
	display: flex;
	flex-direction: column;
}

.vulpo-auth-overview-buttons > * {
	margin-block-end: calc(var(--baseline) * 1.5);
}

.vulpo-auth-overview-buttons > *:last-child {
	margin-block-end: 0;
}


/* OAuth  */

.vulpo-auth-oauth-confirm {
	min-height: calc(25rem * 0.618);
	display: flex;
	align-items: center;
	justify-content: center;
}




/* COMPONENTS */

.vulpo-auth-flow {
	--size: var(--vulpo-auth-loading-size, calc(var(--baseline) * 5));
	--color: var(--vulpo-auth-loading-color, currentColor);
	width: calc(var(--size) * 1.3);
	height: calc(var(--size) * 1.3);
	display: flex;
	justify-content: space-between;
	align-items: center;


}

.vulpo-auth-flow .vulpo-auth-flow-dot {
  width: 25%;
  height: 25%;
  background-color: var(--color);
  border-radius: 50%;
  animation: vulpo-auth-flow 1.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s infinite both;
}

.vulpo-auth-flow-dot:nth-child(1) { animation-delay: -0.30s; }
.vulpo-auth-flow-dot:nth-child(2) { animation-delay: -0.15s; }

@keyframes vulpo-auth-flow {
  0%, 80%, 100% {
    transform: scale(0.3); }
  40% {
    transform: scale(1); 
  }
}

.vulpo-auth-pulse {
	--size: var(--vulpo-auth-loading-size, calc(var(--baseline) * 5));
	--color: var(--vulpo-auth-loading-color, currentColor);

	width: var(--size);
	height: var(--size);
	background-color: var(--color);
	border-radius: 100%;
	animation: vulpo-auth-pulse 1.2s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);

}

@keyframes vulpo-auth-pulse {
  0% {
    transform: scale(0); 
  } 100% {
    transform: scale(1);
    opacity: 0; 
  }
}


/* BUTTONS */

.vulpo-auth-button {
	--defaut-shadow: var(--shadow-2);
	--default-button-background: rgb(239 239 239);
	--default-button-border: 1px solid rgb(215 215 215);

	position: relative;
	text-decoration: none;
	padding-inline: calc(var(--baseline) * 3);
	padding-block: var(--baseline);
	display: inline-flex;
	justify-content: center;
	border-radius: calc(var(--baseline-half));
	font-weight: 500;
	letter-spacing: 1px;
	cursor: pointer;
	opacity: 1;
	color: var(--vulpo-auth-button-color, #141923);
	background: var(--vulpo-auth-button-bg, var(--default-button-background));

	font-size: 12px; /* Firefox Andoird fallback */
	font-size: max(0.75em, 12px);
	border: var(--vulpo-auth-button-border, var(--default-button-border))
}

.vulpo-auth--dark .vulpo-auth-button {
	background: var(--vulpo-auth-button-bg--dark, #202020);
	color: var(--vulpo-auth-button-color--dark, #fff);
	border-color: var(--vulpo-auth-button-border--dark, #000);;
}

.vulpo-auth-icon-button {
	background: none;
	border: none;
	display: flex;
	align-items: center;
	text-decoration: none;
	color: inherit;
	padding: 0;
	cursor: pointer;
}

.vulpo-auth-button--disabled {
	cursor: default;
	opacity: 0.5;
}

.vulpo-auth-button--outline {
	background: none!important;
	border: 1px solid currentColor;
}

.vulpo-auth-button span {
	position: relative;
	display: flex;
	align-items: center;
}

.vulpo-auth-link-button {
	display: block;
	block-size: calc(var(--baseline) * 4);
}

.vulpo-auth-password-button {
	display: block;
	block-size: calc(var(--baseline) * 4);
}

.vulpo-auth-password-button button,
.vulpo-auth-link-button button {
	width: 100%!important;
}


.vulpo-auth-oauth-google {
	--vulpo-auth-button-bg: #FFFFFF;
	padding-top: 0!important;
	padding-bottom: 0!important;
	height: 32px;
}

.vulpo-auth-oauth-google svg {
	background: #fff;
	margin-right: 1rem;
}

.vulpo-auth--dark .vulpo-auth-oauth-google {
	background: #4285F4;
}

.vulpo-auth-splashscreen {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
}

.vulpo-auth-splashscreen-title {
	max-width: 19ch;
	font-size: 3rem;
	font-size: max(2rem, 4vw);
	margin-bottom: max(3rem, 4vw);
	line-height: 1;
}