@font-face {
    font-family: 'Recursive Sans';
    src: url('style/fonts/RecursiveSansLnrSt-Med.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Recursive Mono';
    src: url('style/fonts/RecursiveMonoLnrSt-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
