
:root {

	--color-background: #2D2B4F;
	--color-header: #fff;
	
	--color-copy: var(--foreground);

	--font-sans: 'Recursive Sans';
	--font-mono: 'Recursive Mono';

	--font-copy: var(--font-sans);
	--font-headline: var(--font-mono);

	--button-bg: #141923;
	--button-border: 1px solid #000;
	--button-color: #fff;

	--input-border: 1px solid #000;
	--input-color: #fff;
	--input-bg: #222043;
}

body {
	margin: 0;
	padding: 0;
	background: var(--color-background);
	box-shadow: var(--basement);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1, h2, h3, h4 {
	font-weight: bold;
}