
:root {
	--color-background: #2D2B4F;
	--color-header: #fff;
	
	--color-copy: var(--foreground);

	--font-sans: 'Recursive Sans';
	--font-mono: 'Recursive Mono';

	--font-copy: var(--font-sans);
	--font-headline: var(--font-mono);
}

body {
	margin: 0;
	padding: 0;
	background: var(--color-background);
	box-shadow: var(--basement);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
